[submodule "third-party/whisper.cpp"]
	path = third-party/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
[submodule "third-party/ffmpeg"]
	path = third-party/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "third-party/ffpmeg-python"]
	path = third-party/ffpmeg-python
	url = https://github.com/kkroening/ffmpeg-python.git
